.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.search__input {
  width: 728px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
}
